body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    position: relative;
}

.container-fluid {
    padding: 3% 15% 7%;

}

/*Navigation bar*/

.navbar {
    font-family: Ubuntu, sans-serif;
    padding: 0 0 4.5rem;
}

.navbar-brand {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
}

/*Title left*/
.title-left{
    position: relative;
    z-index: 1;
}

/*Download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title image*/

.title-img {
    position: absolute;
    z-index: 0;
    transform: rotate(25deg);
    width: 25%;
    right: 25%;
}

/*Features*/
#features {
    background-color: white;
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

/*Testimonials*/
#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/*Pricing*/
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}